* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.App {
    text-align: center;
}

.cart-header {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: left;
}

a {
    text-decoration: none !important;
    color: white !important;
    padding: 2px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    padding: 10px;
    border: 1px solid gray;
}